<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lyn</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        *
        {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    
    background: #ffffff
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
     color: #000000;
     font-size: 700;
     text-decoration: none;
     font-size: 100PX;
     text-transform: uppercase;
     letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style: none;
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #000000;
    border-radius: 20px;


}

header ul li a:hover, 
header ul li a.active
{
    background: #ffffff;
    

}
        
    </style>  
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          
          
        </div>
       
        <header>
        
            <a href="/"><img src="img/poyo.png"></a>     
                    
           
        </header>
        
      </nav>
</body>